* {
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
  }
  
  .landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    background: url("./Images/landingpage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .mapAndBioBody {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      padding-top: 1em;
      padding-bottom: 1em;
      background: url("./Images/landingpage.png");
      background-repeat: no-repeat;
      background-size: cover;
  
  }
  
  .container {
    margin-left: 4em;
    margin-bottom: 16em;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #edab89;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
  }


  .landingP {
    color: wheat;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .bioP {   
    color: wheat;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

  }


  button {
    background: #edab89;
    width: 7em;
    height: 3em;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button:active {
    background-color: #533e8e;
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
  }
  
  button:focus {
    outline: 0;
  }
  
  button:hover {
    background-color: rgb(90, 43, 90); /* indigo */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .results {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: linear-gradient(to bottom, black, transparent);
  }
  
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  
  #map {
    order: 1;
    width: 80%;
    height: 25em;
    margin-left: ;
  }
  
  .restaurant-list {
    border: 1px solid black;
    margin-right: 1em;
    background: white;
    order: 2;
    width: 50%;
    font-weight: bold;
  }
  
  .mapContainer {
    flex: 2;
  }
  
  
  .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
  }
  
  .wrapper > * {
      margin: 0;
  }
  .h1-bio-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2em;
  }
  
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    margin: 1em;
  }
  .bio-container-body {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding: 3em;
      width: 100%;
  }
  .member-name {
      font-size: 30px;
      color: #edab89;
  }
  
  img[src="./Images/iss.png"] {
      background-color: transparent;
  }

  
  @media only screen and (max-width: 600px) {
      .landing {
          padding: 1em;

      }
      .container {
        margin-left: 0em;
        margin-bottom: 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .h1 {
        color: #edab89;
        font-size: 4em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
      }

      p {
        color: wheat;
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
      }
  }
  
  /* @media only screen and (max-width: 600px) {
      body {
          align-items: center;
      }
      .container {
          margin-left: 0;
          align-items: center;
      }
  } */
  
  