* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    background-image: url("images/team-bg@2x.png");
    color: #edab89;
    font-family: "Oswald", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid white;
}

span {
    font-size: 30px;
}

.bio {
    display: flex;
    justify-content: center;
}

.bio > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em;
    width: 250px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    font-size: 3em;
}

@media only screen and (max-width: 600px) {
    .bio {
        flex-direction: column;
    }

}